<!DOCTYPE html>

<html>

  <head>

    <meta charset="utf-8">

    <title>Test</title>

    <link rel="stylesheet" type="text/css" href="/css/style.css">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>

  </head>

  <body>
  <div class="header">
	<H1>CarSpotting</H1>
  </div>
  
      <div class="left-top">
	  
		<% if(uploadedImage !== null){ %>
			<img src=<%=uploadedImage%> width="400" height="400">;
		<%}%>
		
		</div>
  
       <div class="left-bottom">

			<H!> <%=prediction%> </H1>
		
		</div> 
  
    <div class="centered">

      <fieldset>

        <form action="fileupload" method="post" enctype="multipart/form-data">

			<input type="file" class="ghost-input" name="filetoupload">
			<input type="submit" value="Predict" class="ghost-input" formaction="/upload">
	<!--<input type="submit" value="Predict!" class="ghost-input" formaction="/classify">-->

        </form>

      </fieldset>

	</div>
	
	
  </body>

</html>
